.treegrid-indent {
   width: 0px;
   height: 16px;
   display: inline-block;
   position: relative;
}

.treegrid-expander {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
    left:-17px;
    cursor: pointer;
}

.ui.button {
  width: 5.7rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em 1rem;
    padding-top: 0.785714em;
    padding-right: 1.5em;
    padding-bottom: 0.785714em;
    padding-left: 1rem;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}