.treegrid-indent {
   width: 0px;
   height: 16px;
   display: inline-block;
   position: relative;
}

.treegrid-expander {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
    left:-17px;
    cursor: pointer;
}

div.centered:nth-child(1) {
    margin-top: 10rem;
}